.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.8rem 2rem;
  line-height: 1.25;
  transition: all .15s ease-in-out;
  text-transform: uppercase;
  &.btn-primary {
    padding: 0.8rem 2rem;
    background-color: $pickee-blue;
    color: #ffffff;
  }
  &.btn-secondary {
    padding: 0.5rem 1.5rem;
    border: 2px solid $pickee-blue;
    color: $pickee-blue;
    font-size: 0.8rem;
  }
}