.added_to_cart, .button, button, input[type=button], input[type=reset], input[type=submit], .btn {
  padding: 1.0625rem 5.625rem;
  display: inline-block;
  line-height: $line-height-small;
  font-size: $font-size-small;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .15s ease-in-out;
  text-transform: none;
  background-color: $pickee-blue;
  color: #ffffff;
  &:hover{
    background-color: $pickee-blue-dark;
    color: #ffffff;
  }
  &:active{
    background-color: $pickee-blue;
  }
  &.disabled, &:disabled {
    background-color: $gray-light;
  }
  &.btn-block {
    display: block;
    width: 100%;
  }
  &.btn-arrow, &.single_add_to_cart_button {
    &::after {
      position: absolute;
      content: url(/wp-content/themes/storefront-child/assets/svg/button_arrow.svg);
      margin-left: 0.5rem;
      transition: all .15s ease-in-out;
    }
    &:hover::after {
      margin-left: 1rem;
    }
     &:active::after{
      margin-left: 0.5rem;
    }
  }
  &.btn-link {
    background-color: transparent;
    color: $pickee-blue;
    &:hover{
      color: $pickee-blue-dark;
    }
    &:active{
      color: $pickee-blue;
    }
    &.btn-arrow {
      &::after {
        content: url(/wp-content/themes/storefront-child/assets/svg/button_arrow_blue.svg);
      }
      &:hover::after {
        content: url(/wp-content/themes/storefront-child/assets/svg/button_arrow_darkblue.svg);
      }
      &:active::after{
        content: url(/wp-content/themes/storefront-child/assets/svg/button_arrow_blue.svg);
      }
    }
    &.disabled, &:disabled {
      color: $gray-light;
      &.btn-arrow::after{
        content: url(/wp-content/themes/storefront-child/assets/svg/button_arrow_gray.svg);
      }
    }
  }
}