.input-text,
input[type='text'],
input[type='number'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  background-color: transparent;
  color: $black;
  box-shadow: none;
  padding: 0.71875rem;
  line-height: 1.25;
  -webkit-box-shadow:inset 0px 0px 0px 1px #000000;
  -moz-box-shadow:inset 0px 0px 0px 1px #000000;
  box-shadow:inset 0px 0px 0px 1px #000000;
  &:focus {
    background-color: transparent;
  }
}

/* Hide arrows from number input */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* Form group */
.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form-row.woocommerce-invalid, .form-row.woocommerce-validated {
  input.input-text {
    box-shadow: inset 0px 0px 0px 1px #000000;
  }
}

.star-rating span:before, .quantity .plus, .quantity .minus, p.stars a:hover:after, p.stars a:after, .star-rating span:before, #payment .payment_methods li input[type=radio]:first-child:checked+label:before {
    color: $pickee-blue;
}