.pickee-carousel-section {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

#homepage-carousel {
  @include self_clear;
  @include breakpoint($screen-md) {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
  .carousel-images-wrap {
    @include breakpoint($screen-md) {
      @include span(5 of 9 last 0);
    }
    @include breakpoint($screen-xl) {
      float: right;
      width: 800px;
      flex: 2 2 800px;
    }
    .carousel-images {
      width: 100%;
    }
  }

  .carousel-captions-wrap {
    position: relative;
    background-color: #ffffff;
    @include breakpoint($screen-md) {
      @include span(4 of 9 0);
    }
    @include breakpoint($screen-xl) {
      float: left;
      width: 640px;
      flex: 1 1 640px;
    }
    .carousel-captions {
      .item {
        margin: 1rem;
        outline: none;
        @include breakpoint($screen-md) {
          margin: 3rem 3rem 0;
        }
        @include breakpoint($screen-lg) {
          margin: 4rem 4rem 0;
        }
        @include breakpoint($screen-xl) {
          margin: 6rem 6rem 0;
        }
        h2 {
          margin-bottom: 0.5rem;
          font-size: 2rem;
          font-weight: bold;
          line-height: 2.375rem;
        }
        p.content {
          margin-bottom: 1rem;
        }
        .link {
          font-weight: 600;
          color: $pickee-blue;
        }
      }
    }
    .carousel-controls-wrap {
      width: 100%;
      @include self_clear;
      @include breakpoint($screen-md) {
        position: absolute;
        bottom: 0;
        background-color: $light-gray;
      }
    }
    .carousel-controls {
      position: relative;
      width: 6rem;
      height: 3rem;
      background-color: $pickee-blue;
      @include breakpoint($screen-md) {
        float: right;
      }
      .control-btn {
        float: left;
        display: block;
        width: 3rem;
        height: 2rem;
        margin-top: 0.5rem;
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
        white-space: nowrap;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: $pickee-blue;
        color: #ffffff;
        outline: 0;
        cursor: pointer;
        &.btn-prev {
          border-right: 1px solid #4175ae;
        }
        span.arrow {
          position: relative;
          display: block;
          top: 0.5rem;
          width: 1rem;
          height: 1rem;
          box-shadow: -1px 1px 0 rgb(255, 255, 255);
          &.arrow-left {
            left: 0.3rem;
            transform: rotate(45deg);
          }
          &.arrow-right {
            right: 0.3rem;
            transform: rotate(225deg);
          }
        }
      }
    }
  }
}