.products-carousel-wrap {
  li.product {
    img {
      width: 100%;
    }
    h2 {
      text-align: center;
    }
  }
  ul.products {
    width: 60%;
    margin: 0 auto;
    @include breakpoint($screen-sm) {
      width: 100%;
    }
    li.product {
      width: 100%;
      margin: 0;
      @include breakpoint($screen-sm) {
        width: 22% !important;
        float: left;
        margin-right: 4%;
        &.last {
          margin-right: 0!important;
        }
      }
    }
  }
  .products-carousel {
    @include breakpoint($screen-sm) {
      display: none;
    }
    li.product {
      margin: 0 20px;
    }
  }
  .products-carousel {
    @include breakpoint($screen-sm) {
      display: none;
    }
    li.product {
      margin: 0 20px;
      text-align: center;
    }
    clear: both;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    .control-btn {
      position: absolute;
      top: 0;
      height: 100%;
      width : 20%;
      display: block;
      z-index: 100;
      background-color: transparent;
      &.btn-prev {
        left: 0;
      }
      &.btn-next {
        right: 0;
      }
    }
  }
}