.products-carousel {
  clear: both;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  .product {
    text-align: center;
  }
  .control-btn {
    position: absolute;
    top: 0;
    height: 100%;
    width : 20%;
    display: block;
    z-index: 100;
    background-color: transparent;
    &.btn-prev {
      left: 0;
    }
    &.btn-next {
      right: 0;
    }
  }
}