.products-block {
  ul.products {
    li.product {
      width: 100%;
      margin: 0;
      text-align: center;
      img {
        width: 100%;
      }
      h2 {
        text-align: center;
      }
      @include breakpoint($screen-sm) {
        float: left;
        width: 22% !important;
        margin-right: 4% !important;
        &.last {
          margin-right: 0!important;
        }
      }
    }
  }
  .products-carousel {
    @include hidden-md-up;
    ul.products {
      clear: both;
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
      li.product {
        margin: 0 20px;
      }
      .control-btn {
        position: absolute;
        top: 0;
        height: 100%;
        width : 20%;
        display: block;
        z-index: 100;
        background-color: transparent;
        &.btn-prev {
          left: 0;
        }
        &.btn-next {
          right: 0;
        }
      }
    }
  }
}