# https://github.com/github/gitignore/blob/master/WordPress.gitignore

*.log
# wp-config.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

.env

/vendor

!wp-content/

wp-content/*
!wp-content/themes/

wp-content/themes/*
!wp-content/themes/storefront-child/


!wp-content/plugins/

wp-content/plugins/*
!wp-content/plugins/wc-tree-table-rate-shipping
!wp-content/plugins/twocheckout
!wp-content/plugins/twocheckout-convert-plus
!wp-content/plugins/twocheckout-inline
!wp-content/plugins/facebook-for-woocommerce

config/nginx/pickee-wp
config/php-fpm/php-fpm.conf

.sass-cache

node_modules/

.DS_Store
