.entry-content > p:first-child {
  margin: 0;
}
.content-section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 0 0;
  background-color: #ffffff;
  &.alt-background {
    background-color: #f9f9f9;
  }
}
@mixin content-container {
  margin-left: auto;
  margin-right: auto;
  color: $black;
  @include breakpoint($screen-md) {
    width: 100%;
    padding: 0 1rem;
  }
  @include breakpoint($screen-xl) {
    padding: 0;
    width: 960px;
  }
  @include breakpoint($screen-xxl) {
    width: 1170px;
  }
  .category-text {
    padding: 0 1rem;
    @include breakpoint($screen-xl) {
      padding: 0;
    }
  }
}

.content-container {
  @include content-container;
}

.col-full {
  @include container;
  max-width: none;
}

.homepage-category-block1 {
  margin-top: 2.5rem;
  .category-image-1 {
    margin-bottom: 2rem;
    img {
      margin: 0 auto;
      width: 66.66666%;
    }
    @include breakpoint($screen-md) {
      margin-top: 4rem;
      margin-bottom: 0;
      @include span(7 of 12);
      img {
        width: 100%;
      }
    }
  }
  p {
    margin-bottom: 1rem;
    display: none;
    @include breakpoint($screen-md) {
      display: block;
    }
  }
  .category-text-1 {
    padding-bottom: 4rem;
    @include breakpoint($screen-md) {
      @include span(4 at 7 of 12);
      margin-top: 10rem;
    }
    @include breakpoint($screen-xl) {
      @include span(4 of 12 last);
    }

  }
  .category-text-2 {
    padding-bottom: 4rem;
    display: none;
    @include breakpoint($screen-md) {
      display: block;
      @include span(isolate 4 at 2 of 12);
      padding: 4rem 0;
    }
    @include font-size-big();
  }
  .category-image-2 {
    margin-bottom: 0.75rem;
    display: none;
    @include breakpoint($screen-md) {
      display: block;
      padding-bottom: 4rem;
      @include span(isolate 5 at 7 of 12);
      img {
        position: relative;
      }
    }
    @include breakpoint($screen-lg) {
      img {
        top: -2rem;
      }
    }
    @include breakpoint($screen-xl) {
      img {
        top: -4rem;
      }
    }
    @include breakpoint($screen-xxl) {
      padding-bottom: 0;
      img {
        top: -10rem;
      }
    }
  }
  .category-image-3 {
    display: none;
    margin-top: 4rem;
    @include breakpoint($screen-md) {
      display: block;
      @include span(isolate 3 at 2.5 of 12);
      img {
        position: relative;
      }
    }
  }
}

.homepage-category-block2 {
  .category-image-1 {
    margin-bottom: 2rem;
    img {
      margin: 0 auto;
      width: 75%;
    }
    @include breakpoint($screen-md) {
      margin-top: 4rem;
      margin-bottom: 0;
      @include span(7 of 12 last);
      img {
        width: 100%;
      }
    }
  }
  .category-text-1 {
    @include breakpoint($screen-md) {
      margin-top: 8rem;
      @include span(isolate 4 at 2 of 12);
    }
    @include breakpoint($screen-xl) {
      @include span(4 of 12);
    }
    padding-bottom: 4rem;
  }
  .category-image-2 {
    margin-bottom: 0.75rem;
    display: none;
    @include breakpoint($screen-md) {
      display: block;
      @include span(isolate 5 at 2 of 12);
      img {
        position: relative;
      }
    }
    @include breakpoint($screen-lg) {
      img {
        top: -2rem;
      }
    }
    @include breakpoint($screen-xl) {
      img {
        top: -4rem;
      }
    }
    @include breakpoint($screen-xxl) {
      img {
        top: -10rem;
      }
    }
  }
  .category-image-3 {
    display: none;
    margin-top: 4rem;
    @include breakpoint($screen-md) {
      display: block;
      @include span(isolate 3 at 8.5 of 12);
      img {
        position: relative;
      }
    }
  }
  .category-text-2 {
    display: none;
    @include breakpoint($screen-md) {
      display: block;
      @include span(isolate 4 at 8 of 12);
      padding-top: 4rem;
    }
    @include font-size-big();
  }
}

.homepage-product-picks {
  padding-bottom: 4rem;
}
.brand-section {
  .brand-main {
    text-align: center;
    padding: 4rem 0 3rem;
    @include breakpoint($screen-md) {
      @include span(5 of 12);
      padding-top: 7.5rem;
    }
    .brand-logo {
      height: 10rem;
      margin: 1rem 0;
      img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
      }
    }
    .brand-description {
      padding: 0 2rem;
      .content-link {
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
    }
  }

  .brand-image-1 {
    @include breakpoint($screen-md) {
      @include span(7 of 12 last);
      margin-top: 2.5rem;
    }
    margin-bottom: 6rem;
  }
  .brand-row-2 {
    margin-top: 40px;
  }
  .brand-image-2 {
    display: none;
    @include breakpoint($screen-md) {
      display: block;
      @include span(6 of 12);
    }
  }
  .brand-image-3 {
    display: none;
    @include breakpoint($screen-md) {
    @include span(4 at 8 of 12);
      display: block;
      img {
        position: relative;
        top: -3rem;
      }
    }
  }
}
body.brand-page {
  .entry-header {
    display: none;
  }
  .woocommerce-breadcrumb {
    display: none;
  }
  .brand-page-header {
    clear: both;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
  .brand-logo-block {
    position: relative;
    width: 100%;
    top: -60px;
    padding-top: 40px;
    background-color: #ffffff;
    text-align: center;
    img {
      margin: 0 auto;
      width: 90px;
    }
    h1 {
      font-size: 1.4rem;
      margin-top: 2rem;
      font-weight: 800;
    }
  }
}

// Used in Fullscreen Background template
.fullscreen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  &, .site-main {
    margin: 0;
    height: 100%;
  }
  .site-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.fullscreen-split {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  header,
  footer,
  .site-main {
    text-align: center;
  }

  header {
    padding: 10px 0;
    line-height: 1;
    svg {
      width: 100px;
    }
  }

  footer {
    margin-bottom: 20px;
    font-size: 12px;
    color: #999;
  }

  .hero-container {
    position: relative;
    width: 100%;
    height: 40%;
  }

  .hero {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    &.fade-in { opacity: 1; }
  }

  .site-main {
    padding: 20px 0;
    margin: 0;
  }

  .page {
    margin-bottom: 0;
  }

  @media (min-width: $screen-lg) {
    flex-wrap: wrap;
    justify-content: space-between;

    .hero-container {
      order: -1;
      height: 100%;
      width: 50%;
    }

    header,
    footer,
    .site-main {
      width: 50%;
    }

    header {
      margin-top: 30px;
      padding: 20px 0;
    }

    .site-main {
      display: flex;
      margin: 0;
      padding: 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}
