body.home .site-content .col-full {
  max-width: inherit;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  box-sizing: content-box;
}
.content-section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 0;
  background-color: #ffffff;
  &.alt-background {
    background-color: #f9f9f9;
  }
}
.content-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 2.5em;
  color: #333333;
  @include breakpoint($screen-sm) {
    width: 100%;
  }
  @include breakpoint($screen-lg) {
    width: 960px;
  }
  @include breakpoint($screen-xl) {
    width: 1064px;
  }
}
.homepage-category-block1 {
  .category-image-1 {
    @include breakpoint($screen-sm) {
      @include span(6 of 10);
    }
  }
  .category-caption {
    @include breakpoint($screen-sm) {
      @include span(4 of 10 last);
    }
    padding: 2rem;
    padding-top: 2rem;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 100;
    h3 {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0;
    }
    .content-link {
      margin-top: 1rem;
    }
  }
  .category-description {
    display: none;
    @include breakpoint($screen-sm) {
      display: block;
    }
    @include span(6 of 10);
    padding: 4em;
    font-size: 1.2rem;
  }
  .category-image-2 {
    display: none;
    @include breakpoint($screen-sm) {
      display: block;
    }
    @include span(4 of 10 last);
    img {
      position: relative;
      top: -100px;
    }
  }
}

.homepage-category-block2 {
  .category-image-1 {
    @include breakpoint($screen-sm) {
      @include span(6 of 10 last);
    }
  }
  .category-caption {
    @include breakpoint($screen-sm) {
      @include span(4 of 10);
    }
    padding: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 100;
    h3 {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0;
    }
    .content-link {
      margin-top: 1rem;
    }
  }
  .category-image-2 {
    display: none;
    @include breakpoint($screen-sm) {
      display: block;
    }
    @include span(4 of 10);
    img {
      position: relative;
      right: -50px;
    }
  }
  .category-description {
    display: none;
    @include breakpoint($screen-sm) {
      display: block;
    }
    @include span(5 of 10 last);
    padding: 4rem;
    padding-right: 2rem;
    font-size: 1.2rem;
  }
}

.brand-section {
  .brand-main {
    @include breakpoint($screen-sm) {
      @include span(4 of 10);
    }
    text-align: center;
    padding-top: 2rem;
    h3 {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0;
      color: $pickee-blue;
    }
    .brand-logo {
      height: 8rem;
      margin: 1rem 0;
      img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
      }
    }
    .brand-description {
      padding: 0 1rem;
      .content-link {
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
    }
  }

  .brand-image-1 {
    @include breakpoint($screen-sm) {
      @include span(6 of 10 last);
    }
    margin-bottom: 2rem;
  }
  .brand-row-2 {
    margin-top: 40px;
  }
  .brand-image-2 {
    @include span(6 of 10);
    position: relative;
    left: -20px;
    @include breakpoint($screen-sm) {
      @include span(5 of 10);
      left: auto;
    }
  }
  .brand-image-3 {
    @include span(4 of 10 last);
    position: relative;
    top: -20px;
    right: -20px;
    @include breakpoint($screen-sm) {
      @include span(isolate 3 at 2 of 10);
      top: -40px;
      left: auto;
    }
    img {
      margin: 0 auto;
    }
    .image-caption {
      margin-top: 2rem;
      padding: 1rem;
      display: none;
      @include breakpoint($screen-sm) {
        display: block;
      }
      h4 {
        font-weight: 300;
      }
      a {
        font-size: 1rem;
        color: $pickee-blue;
      }
    }
  }
  .image-caption-mobile {
    padding: 1rem;
    @include breakpoint($screen-sm) {
      display: none;
    }
    h4 {
      font-weight: 300;
    }
    a {
      font-size: 1rem;
      color: $pickee-blue;
    }
  }
}