$topbar-height : 2.5em;
$cart-padding: 1.5em;

#topbar {
  height: $topbar-height;
  position: relative;
  overflow: visible;
  z-index: 1000;
  background-color: $pickee-blue;
  color: #fff;
}

.topbar {
  .topbar-menu-button {
    float: left;
    height: $topbar-height;
    line-height: $topbar-height;
    padding-left: 2em;
    font-weight: 600;
    cursor: pointer;
    @include breakpoint($screen-sm) {
      display: none;
    }
  }
  .topbar-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1001;
    visibility: hidden;
    overflow-y: hidden;
    background: #ffffff;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    @include breakpoint($screen-sm) {
      display: none;
    }
    &.visible {
      opacity: 1;
      visibility: visible;
    }
    .topbar-menu-back {
      position: absolute;
      height: 4em;
      padding-left: 1em;
      line-height: 4em;
      z-index: 1003;
      cursor: pointer;
      color: $pickee-blue;
      font-size: 1em;
      font-weight: 600;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s;
      transition-delay: 0.1s;
      &.visible {
        opacity: 1;
        visibility: visible;
      }
    }
    .topbar-menu-close {
      position: absolute;
      height: 4em;
      width: 4em;
      top: 0;
      right: 0;
      cursor: pointer;
      z-index: 1003;
      svg {
        position: absolute;
        top: 1.3em;
        right: 1.3em;
        width: 1.4em;
        height: 1.4em;
        .line {
          stroke-width: 2px;
          stroke: $pickee-blue;
        }
      }
    }
    .topbar-menu-header {
      position: absolute;
      top: 0;
      left: 0;
      height: 4em;
      width: 100%;
      line-height: 1.5em;
      background: #ffffff;
      font-size: 1em;
      border-bottom: solid 1px $pickee-blue;
    }
    .topbar-menu-footer {
      position: absolute;
      bottom: 4em;
      left: 0;
      height: 4em;
      width: 100%;
      line-height: 4em;
      background: #ffffff;
      font-size: 1em;
      text-align: center;
      color: $pickee-blue;
      & a {
        color: $pickee-blue;
        font-weight: 500;
      }
      & span {
        padding : 0 1em;
      }
    }
    .handheld-navigation {
      position: relative;
      margin-top: 4em;
      max-height: 100%;
      height: calc(100% - 8em);
      overflow: hidden;
      background-color: #eeeeee;
      ul {
        display: block;
        height: 100%;
        overflow-y: scroll;
      }
      > ul {
        height: calc(100% - 4em);
        background-color: rgba(255,255,255,1);
        transition: 0.3s;
        transition-delay: 0.1s;
        &.expand {
          background-color: rgba(255,255,255,0);
        }
      }
      ul li a {
        display: block;
        height: 4em;
        line-height: 4em;
        text-align: center;
        font-size: 1em;
        border-bottom: solid 1px $pickee-blue;
        &:focus {
          outline-style: none;
        }
      }
      .menu ul.sub-menu {
        width: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: rgba(255,255,255,1);
        transition: 0.3s ease-in-out;
        transition-delay: 0.1s;
        z-index: 1003;
        &.expand {
          transform: translate(-100%, 0);
        }
      }
    }

  }
  .site-search {
    float: right;
    clear: none;
    margin-bottom: 0;
    padding-top: 0.56em;
    font-size: 1em;
    color: #ffffff;
    display: none;
    @include breakpoint($screen-sm) {
      display: block;
    }
    .widget_product_search {
      font-size: 0.875em;
      float: left;
      margin: 0;
      form:before {
        top: 0.33em;
        left: 1em;
        width: 1em;
        height: 1em;
        color: #ffffff;
      }
      input[type=search], input[type=text] {
        padding: 0.2em 0.5em 0 2.5em;
        background-color: transparent;
        color: #ffffff;
        box-shadow: none;
        width: 7em;
        transition: width 0.5s;
        &:focus {
          width: 12em;
        }
        &::placeholder {
          color: #ffffff;
        }
      }
    }
    .search-clear-btn {
      float: right;
      margin-right: 0.75em;
      width: 0.75em;
      height: 0.75em;
      cursor: pointer;
      &.hidden {
        svg {
          display :none;
        }
      }
      svg {
        width: 100%;
        height: 100%;
        .line {
          //stroke-width: 2px;
          stroke:#ffffff;
        }
      }
    }
  }
  .links {
    @include breakpoint($screen-sm) {
      display: block;
    }
    display: none;
    list-style: none;
    float: right;
    padding: 0.45em 0 0 0;
    margin: 0;
    li {
      display: block;
      float: right;
      position: relative;
      list-style: none;
      padding: 0 0.75em;
      color: #ffffff;
      font-weight: 400;
      a {
        color: #ffffff;
        font-weight: 400;
        font-size: 0.875em;
      }
      &:before {
        content: "";
        display: block;
        width: 1px;
        height: 0.6em;
        background-color: #FFFFFF;
        position: absolute;
        top: 0.6em;
        right: 0;
      }
    }
  }
}

body.cart-open {
  overflow: hidden;
  @include breakpoint($screen-md) {
    overflow: visible;
  }
}

.topbar-cart {
  float: right;
  height: $topbar-height + 0.375em;
  width: $topbar-height +  0.375em;
  background-color: $pickee-red;
  z-index: 1001;
  .topbar-cart-content {
    padding: 0;
    display: block;
    position: relative;
    background-color: transparent;
    height: auto;
    width: auto;
    text-indent: 0;
    line-height: $topbar-height + 0.75em;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: url(assets/svg/shopping_bag.svg);
    background-size: $topbar-height + 0.375em $topbar-height + 0.375em;

    .amount {
      display: none;
    }

    .count {
      font-size: 0.875em;
      font-weight: 400;
    }
  }

  .topbar-cart-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1002;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  &.visible .topbar-cart-overlay {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
  }

  .topbar-cart-panel {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    @include breakpoint($screen-sm) {
      width: 23.438em;
    }
    z-index: 1003;
    box-sizing: border-box;
    cursor: default;
    visibility: hidden;
    overflow-y: hidden;
    background: #ffffff;
    color: #333333;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;

    .topbar-cart-panel-title {
      position: absolute;
      top: 1em;
      left: $cart-padding;
      line-height: 1.5em;
      font-size: 1.1em;
      font-weight: 600;
    }

    .topbar-cart-close {
      position: absolute;
      height: 4em;
      width: 4em;
      top: 0;
      right: 0;
      cursor: pointer;
      z-index: 1003;
      svg {
        position: absolute;
        top: 1.3em;
        right: 1.3em;
        width: 1.4em;
        height: 1.4em;
        .line {
          stroke-width: 2px;
        }
      }
    }
  }
  &.visible .topbar-cart-panel {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
  }

  .widget_shopping_cart {
    display: block;
    height: 100%;
    margin: 0;
    padding-top: 4.4em;
    //z-index: 999999;

    h2.widgettitle {
      display: none;
    }

    .widget_shopping_cart_content {
      height: 100%;
      position: relative;
    }

    .product_list_widget {

      max-height: calc(100% - 10em);
      overflow-y: scroll;
      padding: 0 $cart-padding 0 $cart-padding;

      li {
        padding-left: 0px;
        padding-right: 0px;
        font-size: .875em;

        &:last-child {
          border-bottom: none;
        }

        .item-thumbmail {
          float: left;
          width: 3.75em;
          text-align: left;
          img {
            float: left;
            width: 3.75em;
            max-width: 100%;
          }
        }

        .item-data {
          float: left;
          width: calc(100% - 7.5em);
          padding-left: 1em;
          padding-right: 1em;
          color: #666666;
          .title {
            color: #000000;
          }
        }

        .item-subtotal {
          float:left;
          width: 3.75em;
          text-align: right;
        }

        a.remove {
          position: relative;
          float: left;
          top: auto;
          text-indent: 0;
          width: auto;
          text-decoration: underline;
          cursor: pointer;
          &:before {
            content: "";
          }
        }
      }
    }

    .cart-pannel-bottom {
      position: absolute;
      height: 10em;
      width: 100%;
      padding: 0 $cart-padding 0 $cart-padding;
      bottom: 0;
      .total {
        padding-top: 1em;
        text-align: left;
        border-top: 1px solid rgba(0,0,0,.05);
        .total-label {
          @include span(6);
          color: #999999;
        }
        .total-content {
          @include span(6 last);
          text-align: right;
          color: #333333;
          font-size: 1.2em;
          font-weight: 600;
        }
      }
      a.button {
        background-color: transparent;
        color: $pickee-blue;
        box-shadow: none;
        &:after {
          content: "";
        }
      }
      a.button.checkout {
        background-color: $pickee-blue;
        color: #ffffff;
        &:after {
          content: "";
        }
      }
    }
  }
}
