.account-jumbotron {
  @include full-width-block;
  background-color: $pickee-blue;
  padding: 5rem 0;
  color: #ffffff;
  .center {
    margin: 0 auto;
    width: 100px;
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  h1 {
    color: #ffffff;
    margin: 0;
  }
  a {
    color: #ffffff;
    text-decoration: underline;
  }
}
.woocommerce-MyAccount-navigation {
  @include full-width-block;
  float: none;
  @include breakpoint($screen-sm) {
    width: auto;
    float: none;
    background-color: $light-gray;
  }
  ul {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-top: none;
    li {
      border-bottom: 4px solid $light-gray;
      a {
        @include font-size-small;
        display: block;
        padding: 1rem 1rem;
        color: $black;
        font-weight: 500;
        &:before {
          display: none;
        }
      }
      &.is-active {
        border-bottom: 4px solid $pickee-red;
        a {
          color: $pickee-red;
        }
      }
    }
  }
}
.woocommerce-MyAccount-content {
  padding-top: 4rem;
  @include font-size-small;
  @include breakpoint($screen-sm) {
    @include span(isolate 8 at 3 of 12);
    float: none;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    float: left;
  }
  header.title {
    margin-top: 1rem;
    @include self_clear;
    a {
      padding: 0;
      float: right;
      font-weight: 500;
      &:before {
        display: none;
      }
      @include breakpoint($screen-sm) {
        width: auto;
        height: auto;
        text-indent: inherit;
        margin-top: 0;
      }
    }
  }
  .woocommerce-Address {
    border-top: 4px solid $black;
    @include breakpoint($screen-sm) {
      border-bottom: 1px solid $gray;
    }
  }
  .accout-info {
    border-top: 4px solid $black;
  }
  .col2-set {
    .col-1, .col-2 {
      @include breakpoint($screen-sm) {
        width: 49%;
        margin-right: 0;
      }
    }
  }
}
table.woocommerce-MyAccount-orders {
  td.woocommerce-orders-table__cell-order-actions {
    text-align: right;
  }
}
table.woocommerce-MyAccount-paymentMethods {
  td.payment-method-actions {
    text-align: right;
  }
}