a:focus, input:focus, textarea:focus, button:focus {
  outline: none;
}
#wpadminbar {
  z-index: 100;
}
.woocommerce-breadcrumb {
  margin-bottom: 1em;
}
.woocommerce-breadcrumb a:first-of-type:before {
  display: none;
}

.storefront-full-width-content .woocommerce-products-header {
  text-align: center;
  padding: 0 0 2rem;
  h1 {
    line-height: 3rem;
  }
  @include breakpoint($screen-md) {
    float: left;
  }
}

.storefront-sorting {
  @include breakpoint($screen-md) {
    float: right;
  }
  .woocommerce-ordering {
    width: 16rem;
    margin: 0 auto;
    @include breakpoint($screen-md) {
      float: right;
    }
  }
  select {
    width: 100%;
    visibility: hidden;
  }
  .woocommerce-result-count {
    display: none;
  }
}

.woocommerce-pagination {
  padding: 0.5rem;
  border: none;
}
.pagination .page-numbers li .page-numbers.current, .woocommerce-pagination .page-numbers li .page-numbers.current {
  background-color: $green-dark;
  border-color: $green-dark;
  color: #ffffff;
}