.storefront-full-width-content.single-product div.product {
  overflow: inherit;
  .woocommerce-product-gallery {
    @include span(7 of 12);
    .flex-control-thumbs {
      float: left;
      @include layout(7 1/2);
      @include span(1 of 7);
      li {
        margin-bottom: 0.8rem;
        img.flex-active {
          box-sizing: border-box;
          border-bottom: 2px solid $pickee-red;
        }
      }
    }
    .flex-viewport {
      float: right;
      @include layout(7 1/2);
      @include span(last 6 of 7);
    }
  }
  .summary {
    padding-top: 4rem;
    text-align: center;
    .pwb-single-product-brands a {
      color: #000000;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0;
    }
    p.price {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      font-size: 2rem;
      font-weight: 100;
    }
    form.cart {
      .quantity {
        overflow: auto;
        width: 100%
      }
      button {
        margin-top: 1em;
        background-color: $pickee-blue;
      }
    }
  }

  .summary {
    @include span(last 5 of 12);
  }

  .woocommerce-product-rating {
    margin-bottom: 0;
    .hearts {
      padding: 0.5rem 0 0;
      line-height: 2rem;
      display: inline-block;
      svg {
        display: inline-block;
        width: 1rem;
        margin: 0.25rem;
        vertical-align: middle;
      }
    }
    .woocommerce-review-link {
      text-decoration: none;
      color: #333333;
      font-size: 1.2rem;
    }
  }

  .product-description-block {
    clear: both;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: $pickee-blue;
    padding: 3rem 0;
    color: #ffffff;
    h4 {
      color: #ffffff;
      font-weight: 600;
      margin-top: 1.5rem;
      margin-bottom: 0.2rem;
    }
    .description-left {
      @include span(6 of 12);
    }
    .description-right {
      @include span(last 6 of 12);
    }
    .attribute-column {
      &.column-1 {
        @include span(6 of 12);
      }
      &.column-2 {
        @include span(last 6 of 12);
      }
    }
    .attribute-name {
      display: inline-block;
      margin-right: 0.5em;
    }
  }
}

#reviews {
  h2 {
    margin-top: 3rem;
    display: block;
    font-size: 2rem;
    text-align: center;
  }
  .commentlist {
    margin-top: 2rem;
    li {
      display: block;
      float: left;
      width: 50%;
      clear: none;
      padding: 1rem;
      p.meta {
        margin-bottom: 0;
      }
      .hearts {
        line-height: 2rem;
        display: inline-block;
        svg {
          display: inline-block;
          width: 1rem;
          margin-right: 0.5rem;
          vertical-align: middle;
        }
      }
    }
  }
  .comment-form-rating label {
    line-height: 2rem;
    height: 2rem;
    display: inline-block;
    margin-right: 1.5rem;
  }
}
#review-form-trigger {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  color: $pickee-blue;
  font-weight: 600;
  cursor: pointer;
}
#review_form_wrapper {
  clear: both;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  background-color: $light-gray;
  padding: 1rem 0;
  &.hidden {
    display: none;
  }
  #respond {
    background-color: transparent;
  }
}
.review-form-inner-wrapper {
  position: relative;
}
.review-form-close {
  position: absolute;
  height: 3em;
  width: 3em;
  top: 2rem;
  right: 0;
  cursor: pointer;
  z-index: 1003;
  svg .line {
    stroke-width: 2px;
    stroke: $pickee-blue;
  }
}
#review_form {
  margin: 0 auto;
  width: 100%;
  @include breakpoint($screen-sm) {
    width: 600px;
  }
  @include breakpoint($screen-md) {
    width: 600px;
  }
  @include breakpoint($screen-lg) {
    width: 768px;
  }
  @include breakpoint($screen-xl) {
    width: 960px;
  }
}
@mixin content-heart-filled {
  content: url(/wp-content/themes/storefront-child/assets/svg/heart_fillled.svg);
}
@mixin content-heart-outline {
  content: url(/wp-content/themes/storefront-child/assets/svg/heart_outline.svg);
}
p.stars {
  vertical-align: middle;
  a {
    height: 1.5rem;
    width: 2rem;
    outline: 0;
    &:before {
      width: 1.5em;
      height: 1.5em;
      @include content-heart-outline;
      opacity: 1;
    }
  }
  a:hover~a:before {
    @include content-heart-outline;
    opacity: 1;
  }
  &:hover a:before {
    @include content-heart-filled;
    opacity: 1;
  }
  &.selected {
    a.active:before {
      @include content-heart-filled;
      opacity: 1;
    }
    a.active~a:before {
      @include content-heart-outline;
      opacity: 1;
    }
    a:not(.active):before {
      @include content-heart-filled;
      opacity: 1;
    }
  }
}
p.comment-form-comment {
  margin-top: 2rem;
}