.storefront-full-width-content.single-product div.product {
  overflow: inherit;
  .woocommerce-product-gallery {
    img {
      width: 100%;
    }
    @include breakpoint($screen-md) {
      @include span(7 of 12);
    }
    .flex-control-thumbs {
      float: left;
      li {
        @include span(1 of 5);
        margin-bottom: 0.8rem;
        img.flex-active {
          box-sizing: border-box;
          border-bottom: 2px solid $pickee-red;
        }
      }
      @include breakpoint($screen-md) {
        @include layout(7 1/2);
        @include span(1 of 7);
        li {
          @include span(1 of 1);
        }
      }
    }

    .flex-viewport {
      margin-bottom: 1rem;
      @include breakpoint($screen-md) {
        float: right;
        @include layout(7 1/2);
        @include span(last 6 of 7);
      }
    }
  }
  .summary {
    @include breakpoint($screen-md) {
      @include span(last 5 of 12);
    }
    padding-top: 4rem;
    text-align: center;
    .pwb-single-product-brands
    {
      margin-bottom: 1rem;
      a {
        color: $black;
        font-size: 1rem;
        font-weight: 600;
      }
    }
    p.price {
      @include span(1 of 2);
      text-align: left;
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 1.25rem;
      font-weight: bold;
      @include breakpoint($screen-md) {
        @include span(1 of 1);
        text-align: center;
      }
    }
    form.cart {
      .quantity {
        @include span(1 of 2 last);
        text-align: right;
        overflow: auto;
        margin-bottom: 1rem;
        @include breakpoint($screen-md) {
          @include span(1 of 1);
          text-align: center;
        }
      }
      button {
        display: block;
        width: 100%;
        background-color: $pickee-blue;
        @include breakpoint($screen-md) {
          display: inline-block;
          width: auto;
        }
      }
    }
  }

  .woocommerce-product-rating {
    margin-bottom: 1rem;
    margin-top: 0;
    .hearts {
      line-height: 2rem;
      display: inline-block;
      svg {
        display: inline-block;
        width: 1rem;
        margin: 0.25rem;
        vertical-align: middle;
      }
    }
    .woocommerce-review-link {
      @include font-size-small;
      color: $black;
      font-weight: 500;
      text-decoration: none;
    }
  }

  .product-description-block {
    clear: both;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: $pickee-blue;
    padding: 3rem 0;
    color: #ffffff;
    h4 {
      color: #ffffff;
      font-size: 1rem;
      font-weight: bold;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
    @include breakpoint($screen-md) {
      .description-left {
        @include span(6 of 12);
      }
      .description-right {
        @include span(last 6 of 12);
      }
    }
    .attribute-list {
      .attribute-item {
        display: flex;
        float: left;
        width: 100%;
        @include breakpoint($screen-md) {
          width: 50%;
        }
        .attribute-name {
          margin-right: 0.5em;
        }
        &.full-width {
          width: 100%;
        }
      }
    }
    .attribute-column {
      &.column-1 {
        @include span(6 of 12);
      }
      &.column-2 {
        @include span(last 6 of 12);
      }
    }
  }
}

#reviews {
  text-align: center;
  @include breakpoint($screen-md) {
    text-align: left;
  }
  .review-form-toggle {
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    @include font-size-small;
  }
  .commentlist {
    margin-top: 2rem;
    li {
      display: block;
      float: left;
      width: 100%;
      @include breakpoint($screen-md) {
        width: 50%;
      }
      clear: none;
      padding: 1rem;
      text-align: left;
      p.meta {
        margin-bottom: 0;
      }
      .hearts {
        line-height: 2rem;
        display: inline-block;
        svg {
          display: inline-block;
          width: 1rem;
          margin-right: 0.5rem;
          vertical-align: middle;
        }
      }
    }
  }
  .comment-form-rating label {
    line-height: 2rem;
    height: 2rem;
    display: inline-block;
    margin-right: 1.5rem;
  }
}
#review-form-trigger {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  color: $pickee-blue;
  font-weight: 600;
  cursor: pointer;
}
#review_form_wrapper {
  clear: both;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  background-color: $light-gray;
  padding: 1rem 0;
  &.hidden {
    display: none;
  }
  #respond {
    background-color: transparent;
  }
}
.review-form-inner-wrapper {
  position: relative;
}
.review-form-close {
  position: absolute;
  height: 3em;
  width: 3em;
  top: 2rem;
  right: 0;
  cursor: pointer;
  z-index: 1003;
  svg .line {
    stroke-width: 2px;
    stroke: $pickee-blue;
  }
}
#review_form {
  margin: 0 auto;
  width: 100%;
  @include breakpoint($screen-md) {
    width: 600px;
  }
  @include breakpoint($screen-lg) {
    width: 600px;
  }
  @include breakpoint($screen-xl) {
    width: 768px;
  }
  @include breakpoint($screen-xxl) {
    width: 960px;
  }
  textarea {
    background-color: #ffffff;
    box-shadow: none;
  }
}
@mixin content-heart-filled {
  content: url(/wp-content/themes/storefront-child/assets/svg/heart_fillled.svg);
}
@mixin content-heart-outline {
  content: url(/wp-content/themes/storefront-child/assets/svg/heart_outline.svg);
}
p.stars {
  vertical-align: middle;
  a {
    height: 1.5rem;
    width: 2rem;
    outline: 0;
    &:before {
      width: 1.5em;
      height: 1.5em;
      @include content-heart-outline;
      opacity: 1;
    }
  }
  a:hover~a:before {
    @include content-heart-outline;
    opacity: 1;
  }
  &:hover a:before {
    @include content-heart-filled;
    opacity: 1;
  }
  &.selected {
    a.active:before {
      @include content-heart-filled;
      opacity: 1;
    }
    a.active~a:before {
      @include content-heart-outline;
      opacity: 1;
    }
    a:not(.active):before {
      @include content-heart-filled;
      opacity: 1;
    }
  }
}
p.comment-form-comment {
  margin-top: 2rem;
}

.storefront-full-width-content.single-product {
  #reviews, .related, .upsells {
    h1 {
      margin-top: 5.625rem;
      text-align: center;
    }
    h2 {
      margin-top: 3rem;
      display: block;
      font-size: 2rem;
      text-align: center;
    }
    .products li h2 {
      margin-top: 0;
      display: block;
      text-align: center;
    }
  }
}
.storefront-sticky-add-to-cart {
  background-color: #ffffff;
}
.storefront-sticky-add-to-cart__content-title {
  color: $black;
  display: inline-block;
}
.storefront-sticky-add-to-cart__content-price {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: normal;
  color: $black;
  opacity: unset;
}
@include breakpoint($screen-md) {
  .storefront-sticky-add-to-cart--slideInDown {
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);
  }
}