.storefront-full-width-content.single-product div.product {
  margin-top: 1.5rem;
  overflow: inherit;
  .woocommerce-product-gallery {
    margin-bottom: 2rem;
    img {
      width: 100%;
    }
    @include breakpoint($screen-md) {
      @include span(6 of $desktop);
    }
    .flex-control-thumbs {
      width: 100%;
      li {
        @include span(1 of 5);
        margin-bottom: 0.625rem;
        img.flex-active {
          box-sizing: border-box;
          border-bottom: 2px solid $pickee-red;
        }
      }
      @include breakpoint($screen-md) {
        @include layout(6 of $desktop);
        @include span(1 of 6);
        li {
          @include span(1 of 1);
        }
      }
    }

    .flex-viewport {
      margin-bottom: 1rem;
      @include breakpoint($screen-md) {
        @include layout(6 of $desktop);
        @include span(last 5 of 6);
      }
    }
  }
  .summary {
    padding-top: 0;
    text-align: center;
    @include breakpoint($screen-md) {
      @include span(isolate 4 of $desktop at 2);
      padding-top: 2rem;
    }
    .pwb-single-product-brands
    {
      margin-bottom: 1rem;
      span.pwb-text-before-brands-links {
        display: none;
      }
      a {
        color: $black;
        font-size: 1rem;
        font-weight: 600;
      }
    }
    p.price {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 1.25rem;
      font-weight: bold;
    }
    form.cart {
      .quantity {
        @include span(1 of 1);
        overflow: auto;
        margin-bottom: 1rem;
      }
      button {
        display: block;
        width: 100%;
        @include breakpoint($screen-md) {
          display: inline-block;
          width: auto;
        }
      }
    }
  }

  .woocommerce-product-rating {
    margin-bottom: 1rem;
    margin-top: 0;
    .hearts {
      line-height: 2rem;
      display: inline-block;
      svg {
        display: inline-block;
        width: 1rem;
        margin: 0.25rem;
        vertical-align: middle;
      }
    }
    .woocommerce-review-link {
      @include font-size-small;
      color: $black;
      font-weight: 500;
      text-decoration: none;
    }
  }

  .product_meta {
    border-top: none;
    .sku_wrapper {
      display: none;
    }
    .tagged_as {
      display: none;
    }
  }

  .product-description-block {
    clear: both;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: #f6f6f6;
    padding: 3rem 0;
    h4 {
      font-size: 1rem;
      font-weight: bold;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
    @include breakpoint($screen-md) {
      .description-left {
        @include span(6 of $desktop);
      }
      .description-right {
        @include span(last 6 of $desktop);
      }
    }
    .attribute-column {
      &.column-1 {
        @include span(6 of 12);
      }
      &.column-2 {
        @include span(last 6 of 12);
      }
    }
  }
}

.storefront-full-width-content.single-product #reviews {
  text-align: center;
  @include breakpoint($screen-md) {
    text-align: left;
  }
  .review-form-toggle {
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    @include font-size-small;
  }
  .commentlist {
    margin-top: 2rem;
    li {
      display: block;
      float: left;
      width: 100%;
      clear: none;
      text-align: left;
      @include breakpoint($screen-md) {
        @include span(6 of $desktop);
      }
      &:nth-child(even) {
        @include last;
      }
      .avatar {
        @include layout(6 of $desktop);
        @include span(1 of 6);
        max-width: 64px;
      }
      .comment_container .comment-text {
        @include layout(6 of $desktop);
        @include span(last 5 of 6);
        p.meta {
          margin-bottom: 0;
          .woocommerce-review__author {
            display: inline-block;
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
          }
          em {
            display: none;
          }
          time {
            display: block;
            color: $black;
            opacity: 1;
            letter-spacing: 0.1px;
          }
        }
      }
      .hearts {
        line-height: 2.5rem;
        display: inline-block;
        svg {
          display: inline-block;
          width: 1rem;
          margin-right: 0.75rem;
          vertical-align: middle;
        }
      }
    }
  }
  .comment-form-rating label {
    line-height: 2rem;
    height: 2rem;
    display: inline-block;
    margin-right: 1.5rem;
  }
}

#review-form-trigger {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  color: $pickee-blue;
  font-weight: 600;
  cursor: pointer;
}
#review_form_wrapper {
  clear: both;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  background-color: $gray-lighter;
  padding: 1rem 0;
  &.hidden {
    display: none;
  }
  #respond {
    background-color: transparent;
  }
}
.review-form-inner-wrapper {
  position: relative;
}
.review-form-close {
  position: absolute;
  height: 3em;
  width: 3em;
  top: 2rem;
  right: 0;
  cursor: pointer;
  z-index: 1003;
  svg .line {
    stroke-width: 2px;
    stroke: $pickee-blue;
  }
}
#review_form {
  margin: 0 auto;
  width: 100%;
  @include breakpoint($screen-md) {
    width: 600px;
  }
  @include breakpoint($screen-lg) {
    width: 600px;
  }
  @include breakpoint($screen-xl) {
    width: 768px;
  }
  @include breakpoint($screen-xxl) {
    width: 960px;
  }
  textarea {
    background-color: #ffffff;
    box-shadow: none;
  }
}
@mixin content-heart-filled {
  content: url(/wp-content/themes/storefront-child/assets/svg/heart_fillled.svg);
}
@mixin content-heart-outline {
  content: url(/wp-content/themes/storefront-child/assets/svg/heart_outline.svg);
}
p.stars {
  vertical-align: middle;
  a {
    height: 1.5rem;
    width: 2rem;
    outline: 0;
    &:before {
      width: 1.5em;
      height: 1.5em;
      @include content-heart-outline;
      opacity: 1;
    }
  }
  a:hover~a:before {
    @include content-heart-outline;
    opacity: 1;
  }
  &:hover a:before {
    @include content-heart-filled;
    opacity: 1;
  }
  &.selected {
    a.active:before {
      @include content-heart-filled;
      opacity: 1;
    }
    a.active~a:before {
      @include content-heart-outline;
      opacity: 1;
    }
    a:not(.active):before {
      @include content-heart-filled;
      opacity: 1;
    }
  }
}
p.comment-form-comment {
  margin-top: 2rem;
}

.storefront-full-width-content.single-product {
  #reviews, .related, .upsells {
    h1 {
      margin-top: 5.625rem;
      text-align: center;
    }
    h2 {
      margin-top: 3rem;
      display: block;
      font-size: 1.75rem;
      text-align: center;
    }
    .products li h2 {
      margin-top: 0;
      display: block;
      text-align: center;
    }
  }
}
.storefront-sticky-add-to-cart {
  background-color: #ffffff;
}
.storefront-sticky-add-to-cart__content-title {
  color: $black;
  display: inline-block;
}
.storefront-sticky-add-to-cart__content-price {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: normal;
  color: $black;
  opacity: unset;
}
@include breakpoint($screen-md) {
  .storefront-sticky-add-to-cart--slideInDown {
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);
  }
}