/*
Extra small devices : Portrait phones (<544px)
Small devices : Landscape phones (≥544px - <768px)
Medium devices : Tablets (≥768px - <992px)
Large devices : Desktops (≥992px - <1200px)
Extra large devices : Desktops (≥1200px - <1440px)
Extra Extra large devices : Large Desktops (≥1440px)
*/
$screen-sm: 544px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1440px;