.clearfix:after, .self_clear:after {
  content: "";
  clear: both;
  display: block;
}

img {
  border-radius: 0;
}

@mixin self_clear {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}