h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0;
}
.h1, h1 {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 700;
}
.h2, h2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.h3, h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.h4, h4 {
  font-size: $font-size-small;
  line-height: $line-height-small;
  font-weight: 500;
}

.small, small {
  font-size: $font-size-small;
}
p.small {
  font-size: $font-size-small;
  line-height: $line-height-small;
}